@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),  url('../fonts/Geometria.otf')  format('opentype'),
	     url('../fonts/Geometria.woff') format('woff'), url('../fonts/Geometria.ttf')  format('truetype'), url('../fonts/Geometria.svg#Geometria') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Geometria-Medium.otf')  format('opentype'),
	     url('../fonts/Geometria-Medium.woff') format('woff'), url('../fonts/Geometria-Medium.ttf')  format('truetype'), url('../fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('Geometria-MediumItalic.otf')  format('opentype'),
	     url('../fonts/Geometria-MediumItalic.woff') format('woff'), url('../fonts/Geometria-MediumItalic.ttf')  format('truetype'), url('../fonts/Geometria-MediumItalic.svg#Geometria-MediumItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Geometria-Bold.otf')  format('opentype'),
	     url('../fonts/Geometria-Bold.woff') format('woff'), url('../fonts/Geometria-Bold.ttf')  format('truetype'), url('../fonts/Geometria-Bold.svg#Geometria-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),  url('Geometria-Heavy.otf')  format('opentype'),
	     url('../fonts/Geometria-Heavy.woff') format('woff'), url('../fonts/Geometria-Heavy.ttf')  format('truetype'), url('../fonts/Geometria-Heavy.svg#Geometria-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/Garamond-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Garamond-Bold.woff') format('woff'), url('../fonts/Garamond-Bold.ttf')  format('truetype'), url('../fonts/Garamond-Bold.svg#Garamond-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

body{
    margin:0;
	padding: 0;
	font-family: 'Geometria', sans-serif;
	font-size: 15px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.04em;
    color: rgb(63, 67, 64);
	min-width: 320px;
}

button,input,select,textarea {
    font-family: 'Geometria'; 
    font-size: 15px;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex_between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    text-align: center;
    height: 67px;
    width: 100%;
    max-width: 373px;
    background: linear-gradient(180.45deg, #3A72D5 0.96%, #2154CF 55.17%, #2154CF 97.15%);
    border: 1.34884px solid #2154CF;
	box-shadow: 0 9px 15px 0px #939598;
    box-sizing: border-box;
    border-radius: 67px;
    font-family: 'Geometria';
    font-size: 22px;
    font-weight: 500;
    line-height: 67px;
    text-transform: uppercase;
    letter-spacing: 0.19em;
    color: #FFFFFF;
}

a.button:hover {
	color: #ffffff;
	box-shadow: 0 10px 20px -10px #467CFA;
}

a.button:focus {
	box-shadow: none;
}

/*header*/

.contacts	{
	height: 60px;
	background: #333B58;
}

.phone {
	display: block;
    font-family: 'Geometria';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.4px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 0 20px 50px;
    margin: auto 0 auto auto;
    position: relative;
}

.phone span {
    font-size: 22px;
    padding-left: 5px;
}

a.phone:hover {
	color: #FFFFFF;
}

.phone:before {
    content: "";
    background: url(../images/sprites.png) no-repeat -489px -28px;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;
    top: 13px;
}

.navbar-brand {
    margin-right: 5rem;
}

.navbar {
    padding: 20px 0;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav {
    justify-content: space-around;
    flex: 1;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Geometria';
	font-size: 16px;
	font-weight: 500;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: #000000;
	padding: 0.7rem 1rem;
}

.navbar-light .navbar-nav .nav-link.active {
	box-sizing: border-box;
    border: 2px solid #467CFA;
}

/*main-screen*/

.main-screen {
    background: url(../images/background.png) no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 162px 0 184px;
}

.caption-blue {
	font-family: 'Garamond';
	font-weight: 700;
	font-size: 54px;
	color: #467CFA;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
	margin-bottom: 33px;
}

.caption {
    font-family: 'Geometria';
    font-size: 54px;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    max-width: 1050px;
	margin: 0 auto 20px;
}

.description {
    font-family: 'Geometria';
    font-size: 32px;
    letter-spacing: 0.1px;
    font-weight: 700;
    line-height: 1.3;
    color: #2E4459;
    max-width: 850px;
    margin: 0 auto 40px;
}

/*webinar-items*/

.webinar-items {
	padding: 80px 0;
}

.webinar-items__item {
	padding: 40px 0;
}

.webinar-items__icon {
    box-sizing: border-box;
    background: url(../images/sprites.png) no-repeat -129px -263px #F4F4F4;
    border: 3.3px solid #467CFA;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 0 auto 15px;
}

.webinar-items__icon_2 {
    background-position: -23px -265px;
}

.webinar-items__icon_3 {
    background-position: -23px -155px;
}

.webinar-items__icon_4 {
    background-position: -140px -155px;
}

.webinar-items__icon_5 {
    background-position: -264px -133px;
}

.webinar-items__icon_6 {
    background-position: -270px -25px;
}

.webinar-items__text {
	font-family: 'Geometria';
	font-size: 26px;
	line-height: 1.3;
	font-weight: 700;
	text-align: center;
	color: #2E4459;
}

/*results*/

.results {
	background: #F4F4F4;
	padding: 35px 0;
}

.results__caption {
	font-family: 'Geometria';
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1px;
	text-transform: uppercase;
	color: #467CFA;
	margin-bottom: 30px;
}

.results__inner {
    justify-content: center;
	align-items: center;
}

.results__result {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.results__text {
    font-family: 'Geometria';
    font-size: 26px;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #2E4459;
    flex: 1;
}

.results__text_1 {
	text-align: right;
}

.results__icon_plus {
    background: url(../images/sprites.png) no-repeat -260px -289px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.results__icon {
    box-sizing: border-box;
    background: url(../images/sprites.png) -172px -35px no-repeat #FFFFFF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
	margin: 0 15px;
}

.results__icon_2 {
    background-position: -43px -40px;
}

/*details*/

.details {
    padding: 80px 0 120px;
    position: relative;
    overflow: hidden;
}

.details__caption {
    margin: 0 auto 52px;
}

.details__background {
    background: url(../images/dots.png) repeat center;
    background-size: cover;
    width: 550px;
    height: 500px;
    position: absolute;
    top: -138px;
    left: -186px;
}

.details__row {
	justify-content: flex-end;
	position: relative;
}

.details__text {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 30px solid #F4F4F4;
    font-family: 'Geometria';
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #2E4459;
    padding: 115px 65px 115px 200px;
}

.details__text1 {
	font-style: italic;
}

.details__text2 {
    font-size: 54px;
    font-weight: 900;
    color: #467CFA;
    margin: 10px 0px 15px;
}

.details__text3 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}

.details__text4 {
	line-height: 1.3;
}

.details__video-wr {
	position: absolute;
	left: 0;
	top: 83px;
}

.details__video {
	width: 100%;
	max-width: 725px;
	height: 420px;
}

/*participants*/

.participants {
	padding: 20px 0 75px;
	overflow: hidden;
}

.participants .container {
	position: relative;
}

.participants_background {
	background: url(../images/dots.png) repeat center;
	background-size: contain;
	width: 550px;
	height: 500px;
	position: absolute;
	bottom: 25px;
    right: -215px;
}

.participants__caption {
    margin: 0 auto 75px;
}

.participants__list {
	padding-left: 40px;
	position: relative;
	overflow: hidden;
}

.participants__list:before {
    content: "";
    background: #467CFA;
    width: 5px;
    height: 66%;
    position: absolute;
    left: 30px;
    top: 50px;
}

.participants__item {
	box-sizing: border-box;
	background: #F4F4F4;
	border-radius: 40px 40px 40px 0px;
	font-family: 'Geometria';
	font-size: 22px;
	line-height: 1.4;
	letter-spacing: 0.001px;
	font-weight: 700;
	color: #2E4459;
	padding: 20px 10px 20px 40px;
	margin-bottom: 30px;
	position: relative;
}

.participants__item:before {
	content: "";
	background: url('../images/sprites.png') no-repeat -1px -533px;
	width: 70px;
	height: 54px;
	position: absolute;
	left: -33px;
    top: 28px;
}

.participants__item_mobile {
	display: none;
}

.participants__center {
	display: flex;
}

.participants__img-wr {
	position: relative;
	width: 270px;
	margin: auto;
}

.participants__img {
	background: url(../images/center-circle.png) no-repeat center;
	background-size: contain;
	box-sizing: border-box;
	border-radius: 50%;
	width: 270px;
	height: 270px;
	position: relative;
	z-index: 1;
}

.participants__img-wr:before {
	content: "";
	box-sizing: border-box;
	border-radius: 50%;
	background: #F4F4F4;;
	width: 350px;
	height: 350px;
	position: absolute;
	top: -40px;
	left: -40px;
}

.participants__img-wr:after{
	content: "";
	box-sizing: border-box;
	border-radius: 50%;
	background: #E8E8E8;
	width: 310px;
	height: 310px;
	position: absolute;
	top: -20px;
	left: -20px;
}

.participants__list_bottom:before {
	width: 100%;
	height: 5px;
}

.participants__list_bottom .participants__item {
    margin-right: 30px;
}

.participants__list_bottom .col-md-4:last-child .participants__item {
    margin-right: 0;
}


/*advantages*/

.advantages {
	background: url(../images/background_blue.png) no-repeat center;
	background-size: cover;
	padding: 80px 0 50px;
	position: relative;
	color: #ffffff;
	overflow: hidden;
}

.advantages__background {
	background: rgba(26, 15, 232, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom 0;
}

.advantages .container {
	position: relative;
}

.advantages__caption {
	color: #ffffff;
	margin-bottom: 80px;
}

.advantages__number {
	box-sizing: border-box;
	border-radius: 50%;
	background: #ffffff;
	width: 86px;
	height: 86px;
	font-family: 'Geometria';
	font-size: 60px;
	line-height: 86px;
	font-weight: 700;
	text-align: center;
	color: #2154CF;
	margin: 0 auto 35px;
	position: relative;
}

.advantages__number:before{
	content: "";
	box-sizing: border-box;
	border-radius: 50%;
	background: #ffffff;
	opacity: 0.3;
	width: 121px;
	height: 121px;
	position: absolute;
	top: -17px;
	left: -17px;
}

.advantages__number:after{
	content: "";
	box-sizing: border-box;
	border-radius: 50%;
	background: #ffffff;
	opacity: 0.3;
	width: 105px;
	height: 105px;
	position: absolute;
	top: -9px;
	left: -9px;
}

.advantages__line {
    background: #2154CF;
    border: 4px solid #ffffff;
    border-radius: 10px;
    width: 190px;
    height: 11px;
    box-sizing: border-box;
    margin-top: 30px;
    position: absolute;
    top: 10px;
    left: 140px;
}

.advantages__description {
    font-family: 'Geometria';
    font-size: 24px;
    line-height: 1.3;
    font-weight: 700;
}

.advantages__call {
    font-family: 'Geometria';
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.1px;
    text-align: center;
    margin-top: 55px;
}

/*prorgams*/

.programs {
	padding: 140px 0;
	overflow: hidden;
}

.programs .carousel-indicators {
    top: -47px;
}

.programs__program {
	background: #FFFFFF;
	box-shadow: 0px 15px 34px rgba(67, 107, 203, 0.15), 0px 3px 3px rgba(67, 107, 203, 0.08);
	border-radius: 34px;
}

.programs__caption {
	background: #467CFA;
	border-radius: 20px 20px 0px 0px;
	font-family: 'Geometria';
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 20px 0;
}

.programs__inner {
	padding: 40px;
}

.prorgams__info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.programs__content {
	background: #F4F4F4;
	padding: 20px;
}

.programs__icon {
	background: url('../images/sprites.png') no-repeat -49px -399px;
	width: 46px;
	height: 42px;
	margin: 0 auto 35px;
}

.programs__icon_access {
	background-position:  -551px 6px;
}

.programs__icon_docs {
	background-position: -410px -269px;
}

.programs__item {
	font-family: 'Geometria';
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	color: #2E4459;
}

.programs__content_full {
	margin: 20px 0;
}

.prorgams__additional {
    font-family: 'Geometria';
    font-size: 16px;
    line-height: 1.45;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
}

.programs__discount {
    font-family: 'Geometria';
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #467CFA;
    margin: 40px 0 20px;
}

.programs__old-price {
	font-family: 'Geometria';
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	color: #000000;
	position: relative;
}

.programs__old-price:before {
	content: "";
	width: 100%;
	height: 2px;
	background: #000000;
	border-radius: 5px;
	position: absolute;
	top: 13px;
}

.programs__price {
    box-sizing: border-box;
    border: 4px solid #F4F8FB;
    font-family: 'Geometria';
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    padding: 5px 10px;
    margin: 32px 0 46px;
    width: 100%;
    max-width: 340px;
}

.programs__button {
    height: 50px;
    max-width: 350px;
    line-height: 50px;
}

.programs__documents {
    font-family: 'Geometria';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.01px;
    text-align: center;
    color: #001B36;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.programs ul {
	padding: 0;
}

.programs__document {
	font-family: 'Geometria';
	font-size: 16px;
	font-weight: 500;
	color: #000000;
	padding: 7px 0 7px 40px;
	list-style: none;
	position: relative;
}

.programs__document:before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #2E4459;
	position: absolute;
	left: 15px;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.programs__document:nth-child(odd) {
	background: #F4F4F4;
}



/*accordion */

.accordion {
	background: url(../images/background_accordion.png) no-repeat center;
	background-size: cover;
	padding: 80px 0 100px;
}

.accordion__caption {
	margin-bottom: 40px;
}

.accordion__question {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 15px 34px rgba(67, 107, 203, 0.15), 0px 3px 3px rgba(67, 107, 203, 0.08);
    border-radius: 100px;
    padding: 15px 100px 15px 15px;
    margin: 20px auto 0;
    position: relative;
    cursor: pointer;
    font-family: 'Geometria';
    font-size: 28px;
    font-weight: 500;
    color: #2E4459;
    text-transform: uppercase;
    max-width: 1150px;
}

.accordion__question_active {
	box-shadow: none;
	border-radius: 60px 60px 0 0;
}

.accordion__part-nubmer {
	box-sizing: border-box;
	border-radius: 50%;
	background: #F4F4F4;
	width: 70px;
	height: 70px;
	font-size: 42px;
	line-height: 70px;
	text-align: center;
	color: #467CFA;
}

.accordion__part {
	text-align: center;
	letter-spacing: 0.09em;
	color: #467CFA;
	margin: 0 33px 0 18px;
}

.accordion__part-name {
    flex: 1;
    line-height: 1.3;
    letter-spacing: 0.1px;
}

.accordion__question:after {
    content: "";
    background: url(../images/sprites.png) no-repeat -114px -385px;
    width: 70px;
    height: 70px;
    border: 2px solid #DADADA;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 30px;
}

.accordion__question_active:after {
	background-position: -83px -441px;
}

.accordion__answer {
	box-sizing: border-box;
	border-top: 1px solid #E4E6E8;
    background: #FFFFFF;
    border-radius: 0 0 60px 60px;
	padding: 50px 50px 70px 100px;
	max-width: 1150px;
	margin: 0 auto;
}

/*steps*/

.steps {
    padding: 80px 0 125px;
    overflow: hidden;
}

.caption_steps {
	margin-bottom: 130px;
}

.steps__step {
	display: flex;
	flex-wrap: nowrap;
	height: 100%;
}

.steps__number {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 100px;
	text-align: center;
	color: #000000;
	position: relative;
	width: 80px;
	background: url(../images/circle.png) no-repeat #ffffff top left;
	z-index: 1;
	flex-shrink: 0;
    margin-top: 20px;
}

.steps__figure {
    position: absolute;
    top: 50px;
    right: 5px;
}

.steps__text {
	flex: 1;
	padding-left: 30px;
	position: relative;
	letter-spacing: 0.001px;
}

.steps__text:before {
    content: "";
    background: url(../images/Rectangle.png) no-repeat top left;
    height: 200px;
    width: 70px;
    position: absolute;
    left: 0;
    top: 20px;
}

.steps__caption {
	font-family: 'Geometria';
	font-size: 26px;
	line-height: 1.3;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 20px;
}

.steps__description {
	font-family: 'Geometria';
	font-size: 18px;
	line-height: 1.3;
	color: #2E4459;
}

.steps__note {
    font-family: 'Geometria';
    font-size: 32px;
    line-height: 1.3;
    font-weight: 500;
    text-align: center;
    color: #467CFA;
    margin: 80px 0 20px;
}

.steps__confidential {
    display: block;
    font-family: 'Geometria';
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    text-decoration: none;
    margin: 20px 0;
}

/*team*/

.team {
	padding: 70px 0;
	overflow: hidden;
}

#carousel2 {
    padding-top: 80px;
	margin: 0;
}

.team .carousel-control-prev, .team .carousel-control-next {
    top: 15px;
    width: 45px;
    margin: 0 auto;
}

.team  .carousel-control-prev {
    left: -100px; 
}

.team  .carousel-control-next {
    right: -100px; 
}

.carousel-item_team {
	padding: 50px 0px;
}

.team .carousel-inner .carousel-item.active,
.team .carousel-inner .carousel-item-next,
.team .carousel-inner .carousel-item-prev {
	display: flex;
	align-items: stretch;
}

.team .carousel-inner .carousel-item-right.active,
.team .carousel-inner .carousel-item-next {
	transform: translateX(33%);
}

.team .carousel-inner .carousel-item-left.active, 
.team .carousel-inner .carousel-item-prev {
	transform: translateX(-33%);
}
  
.team .carousel-inner .carousel-item-right,
.team .carousel-inner .carousel-item-left{ 
	transform: translateX(0);
}

.team__co-worker {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 15px 34px rgba(67, 107, 203, 0.15), 0px 3px 3px rgba(67, 107, 203, 0.08);
    border-radius: 34px;
    padding: 30px;
}

.team__photo {
	box-sizing: border-box;
	border-radius: 50%;
	width: 160px;
	height: 160px;
}

.team__photo_1 {
	background: url(../images/review.png) no-repeat center;
}

.team__photo_2 {
	background: url(../images/worker-2.png) no-repeat center;
}

.team__photo_3 {
	background: url(../images/worker-3.png) no-repeat center;
}

.team__name {
    font-family: 'Geometria';
    font-size: 30px;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    color: #467CFA;
    margin: 20px 0 12px;
}

.team__experience {
	font-family: 'Geometria';
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #2E4459;
}

.team__details {
    font-family: 'Geometria';
    font-size: 18px;
	line-height: 1.6;
    font-weight: 500;
    color: #2E4459;
    margin-top: 28px;
}


/*reviews*/

.reviews {
	padding: 70px 0 175px;
	position: relative;
}

.reviews__background {
    background: #b9cbf5;
    opacity: 0.5;
    border-radius: 104px;
    transform: rotate(-45deg);
    width: 936px;
    height: 936px;
    position: absolute;
    left: 0;
    right: 0;
    top: -578px;
    margin: 0 auto;
	padding: 50px;
}

.reviews__background2 {
	background: #467CFA;
	opacity: 0.5;
    border-radius: 104px;
	width: 100%;
	height: 100%;
	padding: 50px;
}

.reviews__background3 {
	background: #242480;
	opacity: 0.5;
    border-radius: 104px;
	width: 100%;
	height: 100%;
	padding: 50px;
}

.carousel {
	z-index: 1;
	margin: 0 -35px;
}

.reviews .carousel-indicators {
    bottom: -55px;
}

.carousel-item_reviews {
	padding: 50px 35px;
}

.reviews__review-wr {
	display: flex;
	box-sizing: border-box;
	box-shadow: 0px 15px 34px rgba(67, 107, 203, 0.15), 0px 3px 3px rgba(67, 107, 203, 0.08);
	border-radius: 34px;
	background: #ffffff;
	padding: 90px 75px 130px;
}

.reviews__photo {
	background: url(../images/review.png) no-repeat center;
	width: 170px;
	height: 170px;	
}

.reviews__text {
    flex: 1;
    padding-left: 75px;
}

.reviews__name {
	font-family: 'Geometria';
	font-size: 32px;
	font-weight: 500;
	color: #2E4459;
	margin-bottom: 25px;
}

.reviews__review {
    font-family: 'Geometria';
    font-size: 21px;
	font-weight: 500;
    line-height: 1.55;
    color: #2E4459;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
	display: none;
}

.carousel-control-prev, .carousel-control-next {
	top: calc(50% - 35px);
	width: 42px;
	height: 74px;
}

.carousel-control-prev {
	background: url('../images/sprites.png') no-repeat -413px -160px;
	left: -30px;
}

.carousel-control-next {
	background: url('../images/sprites.png') no-repeat -413px -50px;
	right: -30px;
}

.carousel-indicators li, .carousel-indicators li.active,
.carousel-indicators .carousel-indicators_team, .carousel-indicators .carousel-indicators_team.active
{
	background: none;
	margin-left: 30px;
	margin-right: 30px;
}

.carousel-indicator-left {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
	background: #2154CF;
	border-radius: 50%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    width: 8px;
    height: 8px;
}

.carousel-indicator-right {
    position: absolute;
    top: 0;
    left: 45px;
    display: inline-block;
    background: #2154CF;
	border-radius: 50%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    width: 8px;
    height: 8px;
}

.carousel-indicators li.active .carousel-indicator-left:before,
.carousel-indicators .carousel-indicators_team.active .carousel-indicator-left:before{
	content: "";
	width: 25px;
	height: 25px;
	border: 1px solid #2154CF;
	box-sizing: border-box;
	border-radius: 50%;
	position: absolute;
	top: -9px;
	left: -9px;
}

.carousel-indicators .carousel-indicator-right::before, .carousel-indicators .carousel-indicator-right::after {
	content: '';
    position: absolute;
    width: 25px;
	height: 25px;
    border-radius: 100%;
	top: -9px;
	left: -9px;
}

.carousel-indicators .carousel-indicator-right::before {
    border: 1px solid transparent;
}

.carousel-indicators li.active .carousel-indicator-right:before,
.carousel-indicators .carousel-indicators_team.active .carousel-indicator-right:before
{
    border-top-color: #2154CF;
    border-right-color: #2154CF;
    border-bottom-color: #2154CF;
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

.carousel-indicators .carousel-indicator-right::after {
    border: 0 solid transparent;
}

.carousel-indicators li.active .carousel-indicator-right:after,
.carousel-indicators .carousel-indicators_team.active .carousel-indicator-right:after
{
    border-top: 1px solid #2154CF;
    border-left-width: 1px;
    border-right-width: 1px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    transition: border-left-width 0s linear 0.35s, -webkit-transform 0.8s linear 0s;
    transition: transform 0.8s linear 0s, border-left-width 0s linear 0.35s;
    transition: transform 0.84s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.8s linear 0s;
}

.carousel-indicator-line {
	background: #2154CF;
	height: 1px;
	width: 0;
	position: absolute;
	left: 16px;
	top: 4px;
	transition: width 0.3s ease-out;
    -moz-transition: width 0.7s 0.1s ease;
    -o-transition: width 0.7s 0.1s ease;
    -webkit-transition: width 0.7s 0.1s ease;
}

.carousel-indicators li.active .carousel-indicator-line,
.carousel-indicators .carousel-indicators_team.active .carousel-indicator-line {
	width: 20px;
}



    

/*footer*/

footer {
	background: #F4F4F4;
}

.footer__logo {
	margin-right: 3rem;
}

.footer__navbar-brand {
	margin: 0;
}

.footer__phone {
	padding: 20px 0 10px 45px;
	color: #2E4459;
	font-weight: 500;
}

a.footer__phone:hover {
	color: #2E4459;
}

.footer__phone:before {
    background: url(../images/tel.png) no-repeat center;
    left: 3px;
    top: 13px;
}

.copyright {
	background: #2E4459;
	font-family: 'Geometria';
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	padding: 15px 0;
}

.copyright__inner {
	margin: 0 auto;
}



/*media*/

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

@media screen and (max-width: 1279px) {
	.navbar-light .navbar-nav .nav-link {
		font-size: 14px;
		padding: 0.7rem 0.5rem;
	}
	
	.carousel-control-next {
		right: 10px;
	}
	
	.carousel-control-prev{
		left: 10px;
	}
	
	.details__text {
		padding: 50px 30px 240px 30px;
	}
	
	.details__video-wr {
		left: 100px;
		top: 470px;
	}
	
	.reviews__background {
		width: 700px;
		height: 700px;
		top: -450px;
	}
	
}

@media screen and (max-width: 1199px) {
	
	.advantages__line {
		width: 125px;
	}
	
	.advantages__description {
		font-size: 22px;
		text-align: center;
	}
	
	.steps__number {
		padding-bottom: 180px;
	}
	
	.steps__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.participants__img-wr {
		margin: auto 0 auto 16px;
	}
}

@media screen and (max-width: 1023px) {
	
	.results__text {
		font-size: 16px;
	}
	
	.details__text {
		font-size: 28px;
	}
	
    .accordion__question {
		font-size: 20px;
	}
	
	.reviews__review-wr {
		flex-direction: column;
		align-items: center;
		padding: 40px 30px;
	}
	
	.reviews__text {
		padding: 35px 0;
		text-align: center;
	}
	
	.details__text {
		padding: 50px 30px 140px 30px;
	}
	
	.details__text2 {
		font-size: 46px;
	}
	
	.details__text3 {
		font-size: 36px;
	}
	
	.details__video-wr {
		top: 330px;
		left: 0;
	}
}

@media (max-width: 991px) {
	.advantages__line {
		width: 85px;
		left: 120px;
	}
	
	.advantages__description {
		font-size: 18px;
	}
	
	.reviews__background {
		display: none;
	}
	
	.participants__item_mobile {
		display: flex;
	}
	
	.participants__list_bottom {
		display: none;
	}
	
	.participants .col-lg-4:first-child .participants__list:before {
		height: 80%;
	}
}


@media screen and (max-width: 767px) {
	
	.phone {
		margin: 0 auto;
	}
	
	.caption-blue {
		font-size: 40px;
	}
	
	.caption {
		font-size: 36px;
	}
	
	.description {
		font-size: 20px;
	}
	
	.webinar-items__text {
		font-size: 20px;
	}
	
	.results__result {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	
	.results__text_1 {
		text-align: center;
	}
	
	.results__icon {
		margin: 15px;
	}
	
	.details__text {
		padding: 30px 20px;
	}
	
	.details__video-wr {
		position: static;
		margin-top: 30px;
	}
	
	.details__video {
		height: 320px;
	}
	
	.advantages__line {
		display: none;
	}
	
	.advantages__description {
		margin-bottom: 50px;
	}
	
	.programs__content {
		margin-bottom: 20px;
	}

	.programs__content_full {
		margin: 0 0 20px;
	}
	
	.programs__documents {
		margin: 40px 0 15px;
	}
	
	.caption_steps {
		margin-bottom: 50px;
	}
	
	.steps {
    padding: 80px 0 55px;
	}

	.steps__number {
		padding-bottom: 220px;
		font-size: 80px;
		width: 50px;
	}
	
	.steps__caption {
		font-size: 20px;
		margin-bottom: 10px;
	}
	
	.steps__description {
		font-size: 16px;
	}
	
	.steps__note {
		font-size: 22px;
		margin: 50px 0 20px;
	}

	.accordion__question {
		padding: 10px 65px 10px 15px;
		font-size: 14px;
	}
	
	.accordion__question_active {
		border-radius: 35px 35px 0 0;
	}
	
	.accordion__question:after {
		background-position: -127px -396px;
		width: 45px;
		height: 45px;
		right: 10px;
	}
	
	.accordion__question_active:after {
		background-position: -14px -490px;
	}
	
	.accordion__part-nubmer {
		width: 45px;
		height: 45px;
		font-size: 26px;
		line-height: 45px;
	}
	
	.accordion__part {
		margin: 0 10px 0 5px;
	}
	
	.accordion__answer {
		padding: 20px 15px 20px 25px;
	}
	
	.carousel-control-next {
		right: -20px;
	}
	
	.carousel-control-prev{
		left: -20px;
	}
	
	.reviews {
		overflow: hidden;
	}

}

@media screen and (max-width: 639px) {
	
	.details__text {
		font-size: 22px;
	}
	
	.details__text3 {
		font-size: 26px;
	}
	
	.programs__inner {
		padding: 20px 15px;
	}
	
	.reviews__name {
		font-size: 26px;
	}
	
    .reviews__review {
		font-size: 16px;
	}
	
	.carousel-control-prev, .carousel-control-next {
		display: none;
	}
	
	.team .carousel-control-prev,  .team .carousel-control-next {
		display: block;
	}
}

@media screen and (max-width: 500px) {
	
}